body{
    display:flex;
    flex-direction: column;
    margin: 0;
}
.nav {
    display:flex;
    gap: 10px;
    background-color: #101f50;
    color:#ebebf0;
}
.title {
    background-image: url("./mountains.jpg");
    background-repeat: no-repeat;
    background-size: 100vh;
    height:70vh;
}
ul {
    list-style-type: none;
}