/*stuff for everything*/
body{
    display:flex;
    flex-direction: column;
    margin: 0;
    background-color: #222629;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
/*navbar*/
.nav {
    display:flex;
    gap: 10px;
    background-color: #222629;
    color:#ebebf0;
    padding:50px;
    align-items:center;
}
.logos {
    display:flex;
    align-items: center;
    gap: 10px;
    font-size:25px;
}

.logo {
    background-color: #86C232;
    width: 15px;
    height:15px;
}
.links {
    margin-left: auto;
}
/*title*/
.full {
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
}
.side {
    width: 30vw;
    height:100vh;
    background-color: #86C232;
}
.title {
    height:100vh;
    padding:10px;
}
h1{
    font-size:100px;
    color: #61892F;
}
.title p {
    font-size: 30px;
    color: #ebebf0;
}
button {
    margin: 0;
    width:100px;
    height:30px;
    border-radius:15px;
}
.cv {
    background-color: #86C232;
    color:#ebebf0;
    border: 2px solid #ebebf0;
}
.projects {
    background-color: #ebebf0;
    color: #61892F;
    border: 2px solid #86C232;
}
/*footer*/
.footer ul {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 10px;
    background-color: #222629;
    color:#ebebf0;
    margin-left: auto;
}
.footer {
    display:flex;
    align-items:center;
    color: #ebebf0;
}
span {
    color:#61892F;
}